{$SERVER_NAME}

reverse_proxy * {$SERVER_NAME}:{$NGINX_HTTP_PORT_PUBISHED}
# reverse_proxy {$API_PATH}* {$SERVER_NAME}:{$NGINX_HTTP_PORT_PUBISHED}
# reverse_proxy {$ADMIN_PATH}* {$SERVER_NAME}:{$WEB_BACKEND_PORT_PUBISHED}
# reverse_proxy * {$SERVER_NAME}:{$WEB_FRONTEND_PORT_PUBISHED}